body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: hsl(212, 45%, 89%);
}

.container {
    background: white;
    padding: 1.3em;
    margin: 1em;
    border-radius: 20px;
    text-align: center;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

h1 {
    font-size: 1.5em;
}

p {
    color: hsl(220, 15%, 55%);
}

@media only screen and (min-width: 480px) {

    .cont ainer {
        width: 70%;
        margin: auto;
    }

    img {
        height: 25em;
    }

}


@media only screen and (min-width: 500px) {

    .container {
        width: 40%;
        margin: 2em auto;
    }

    img {
        height: 15em;
    }

}

@media only screen and (min-width: 700px) {
    .container {
        width: 25%;
        margin: 2em auto;
    }

    img {
        height: 15em;
    }
}

@media only screen and (min-width: 1024px) {

    .container {
        width: 20%;
        margin: 2em auto;

    }

}